<div class="center jumbotron">
<h1>Bienvenidos</h1>

<h2>
  Bienvenidos, por medio de esta aplicación puede realizar 
  sus transacciones de manera segura y rápida. 
</h2>

<%= link_to "Iniciar Sesion",  :action => "login", :controller => "login", :html => { :class => "btn btn-lg btn-primary" } %>
</div>





